# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.swp

# http://www.gnu.org/software/automake

Makefile.in
config.log
src/.deps/
src/.dirstamp

# http://www.gnu.org/software/autoconf

aclocal.m4
autom4te.cache
compile
config.guess
config.status
config.sub
configure
depcomp
install-sh
Makefile
missing
stamp-h1

dispatch
